/*
 * Overrides CSS
 */
@font-face {
    font-family: 'Allura';
    src: url('/templates/web-loves-you-gs/fonts/allura-regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'Playfair Display';
    src: url('/templates/web-loves-you-gs/fonts/playfairdisplay-bold-webfont.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;

}
@font-face {
    font-family: 'Playfair Display';
    src: url('/templates/web-loves-you-gs/fonts/playfairdisplay-regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'Questrial';
    src: url('/templates/web-loves-you-gs/fonts/questrial-regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

body {
  /*box-shadow: inset 0px 0px 25px 5px #d0d0d0;*/
}
/*menu*/

body.site .caret,
body.site.mobile li.item04 .caret {
    border-top: 4px solid #ffffff;
}
body.site li.item04 .caret,
body.mobile li.item04 a.hoverItem .caret {
    border-top: 4px solid #c665fe;
}
body.mobile li.item04 .caret {
    margin: 10px 10px 10px 10px;
    padding: 1px;
    z-index: 999;
    position: relative;
    left: 10px;
}
.clr {
    clear: both;
}

/*header & Logo*/

.blur {
  -webkit-filter: blur(10px);
  -moz-filter: blur(10px);
  filter: blur(10px);
}

.bckgr-image {
  -webkit-filter: blur(0px);
  -moz-filter: blur(0px);
  filter: blur(0px);
/*  -webkit-filter: grayscale(30%);
  -moz-filter: grayscale(30%);
  filter: grayscale(30%);*/
  transition: all 1.2s ease-in-out;
}
.bckgr-image.blur {
  -webkit-filter: blur(10px);
  -moz-filter: blur(10px);
  filter: blur(10px);
/*  -webkit-filter: grayscale(30%);
  -moz-filter: grayscale(30%);
  filter: grayscale(30%);*/
}

.social-icon {
    text-align: center;
}

#logo {
  display: block;
  float: none;
  width: 280px;
  height: 100px;
  font-size: 0.5em;
}

h1.logoH1 {
  font-family: 'Allura', cursive;
}

body.site h1.logoH1 a span {
  color: #000;
  font: 1.5em 'Playfair Display', serif;
}

body.site h1.logoH1 a span span {
  color: #aaa;
  font-size: inherit;
  text-shadow: 2px 1px 0px #737373;
}

h1.logoH1 a {
  color: #aaa;
  text-align: center;
  line-height: 25px;
}

img.lotusLogo {
    right: -70px;
    position: absolute;
    top: 70px;
    z-index: -1;
    opacity: 0.7;
    transform: rotate(15deg);
}

/*allg*/
body.mobile ul,
body.mobile ol {
    padding: 0;
    margin: 0 0 10px 15px;
}
@media(min-width: 768px){
  body.desktop ul.sf-menu li:after,
  body.tablet ul.sf-menu li:after {
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background: transparent;
      border-radius: 50%;
      z-index: -1;
      box-shadow: 2px 2px 40px 5px #edd1f7;
  }
}
ul.list_1 li a:hover {
    color: #A620F6;
}
body.site ul.list_1 {
    font-size: 14px;
}
body h1,
body h2,
body h3 {
    line-height: 35px;
}
.mainPic {
    width: 580px;
}

.menuMov {
  position: absolute;
}

/*wellness kosmetik*/
.caption h3 {
    font: 14px/20px "Trebuchet MS", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
}

div.span5.offset1.katItems {
    margin-left: 80px;
    margin-top: 44px;
}

/*content allg*/
.partnerImg--container {
    border-radius: 5px;
    padding: 10px;
    background: #fff;  
    position: relative;
}
.partnerImg--container:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    background: rgba(184, 107, 247, 0.51);
    transition: opacity 0.3s ease-in-out;
}
.partnerImg--container:hover:after {
    opacity: 1;
}
body#body.site .itemId-28 .scroll_1 {
    height: initial !important;
}
body#body.site h2.priceTabHeader {
    font-size: 21px;
    color: #ffe58c;
    position: inherit;
    text-align: left;
}
  /*MS IE*/
  
  body#body.IE h2.priceTabHeader {
      font-size: 20px;
  }
  body#body.IE h2.priceTabHeader {
    top: 0;
    left: 0;
  }
  body#body.IE .itemId-28 .scroll_1 {
      height: auto !important;
  }
  /*<--END MS IE*/

.priceTable h3 {
    color: #ffe58c;
    text-transform: uppercase;
}
p.moduleTxt {
    font: 16px /20px 'Playfair Display', serif;
    text-transform: none;
    font-size: 12px;
}
.itemContent h2 {
    font: 26px /35px 'Playfair Display', serif;
}
h3.corr_1 {
    font-size: 31px;
}
h2.newsflash-title {
    font-size: 36px;
}
p.disclaim {
    font-size: 12px;
    text-transform: none;
}
body h2.marg_1 {
    margin-bottom: 0px;
}
.service_module h3 {
    font-size: 21px;
    margin-bottom: 15px;
}
body.desktop .news_module {
    position: relative;
    left: -130px;
    top: 80px;
} 
body.site .btn {
    background-color: #FF98D4;
    color: #fff;
    transition: all .3s ease-in-out;
}
body.site .btn:hover {
    background-color: #fff;
    color: #FF98D4;
}
body.site .itemId-22.itemContent h2 {
    left: -70px;
}
body.site .itemId-22.itemContent {
    margin-left: 20px;
}
.itemId-22.itemContent .intrTxt.scroll_1 {
    height: auto !important;
    margin-bottom: 0px;
}
.itemId-15.itemContent hr,
.itemContent hr {
    margin: 5px 0 35px;
    border-top: 1px solid #d2a7e0;
    border-bottom: 1px solid #c990de;
}
.itemContent cite {
    text-transform: none;
    font-size: 12px;
    color: #9b50bf;
    display: block;
    text-align: right;
}
blockquote {
    background-color: #ecb3fb;
    padding: 5px;
    border-radius: 5px;
}
body.desktop.site .itemId-23.itemContent {
    margin-left: 65px;
}
body.site .itemId-23.itemContent .scroll_1 {
    height: 400px!important;
}
body.site .itemId-24.itemContent .scroll_1,
body.site .itemId-25.itemContent .scroll_1 {
    height: 240px!important;
}
body.site .itemId-21.itemContent .scroll_1 {
    height: 100% !important;
}
/*body.site .itemId-23.itemContent .scroll-btns.viz_1 {
    display: block;
}*/
/*h2.testmHeader {
    left: -50px;
    margin: 30px 0px -20px;
}*/
.itemId-15.itemContent .intrTxt.scroll_1 {
    height: 450px!important;
}
.itemId-15.itemContent .intrTxt {
    width: 100%;
}
.intrTxt.marg_2.scroll_1 .span6 {
    width: 40%;
}
a.btn {
    margin-bottom: 20px;
}
div.vcard .url,
div.vcard .adr,
div.vcard .postal-code  {
    display: none;
}
/*impressum*/
div.vcard.impressum .adr,
div.vcard.impressum .postal-code  {
    display: block;
}
div.vcard.impressum .postal-code {
    display: initial;
}
div.vcard.impressum p.tel a {
    font-size: 14px;
    color: #fff;
    text-transform: none;
}
body.site.desktop .itemId-30.itemContent,
body.site.desktop .itemId-31.itemContent,
body.site.desktop .itemId-33.itemContent {
    margin-left: 55px;
}
body.site .itemId-31.itemContent .scroll_1,
body.site .itemId-30.itemContent .scroll_1,
body.site .itemId-33.itemContent .scroll_1 {
    height: 500px!important;
}
body.site .itemId-31.itemContent .scroll_1 h3,
body.site .itemId-30.itemContent .scroll_1 h3 {
    color: #dedede;
    font-size: 21px;
}
body.site .itemId-31.itemContent a,
body.site .itemId-30.itemContent a {
    color: #fff;
    text-decoration: underline;
}

p.tel a {
    font-size: 24px;
    color: #ffe58c;
    text-transform: uppercase;
}
.itemContent p, ul li {
    text-transform: none;
}
.itemContent ul li {
    line-height: 25px;
}
.itemContent li span {
    font-size: 18px;
    line-height: 30px;
    color: #dedede;
}
.itemContent h3 {
    font-size: 24px;
}
.itemContent h4 {
    font-size: 18px;
    color: #ffe58c;
}
.itemContent {
    margin-left: 95px;
}
body.desktop .but_back:before {
    content: '';
    width: 147px;
    height: 147px;
    position: absolute;
    border-radius: 50%;
    top: 0;
    left: 0;
    z-index: -1;
    box-shadow: inset 0px 3px 20px -6px #000, 0px 2px 30px -6px #4a4a4a;
}
.partRight:before {
    content: '';
    width: 768px;
    height: 768px;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 50%;
    box-shadow: -10px 4px 20px -13px #000;
}
/*firefox*/
body.Firefox .but_back:before {
    box-shadow: inset 0px 3px 20px -6px #000, 0px 2px 20px -6px #4a4a4a;
}
body.Firefox .partRight:before {
    box-shadow: -10px 4px 15px -18px #000;
}

body.desktop div.itemId-6 .intrTxt.marg_2 {
    max-height: 210px;
}
body#body.desktop div.itemId-27 .intrTxt.marg_2 {
    height: 450px !important;
}
body.desktop .itemId-27.itemContent .scroll-btns {
    display: none;
}

/*abstract bckgr SVG*/
.bloc-head { color: #ffc851; }

#hi-there {
  width: 70%;
  position: relative;
  top: -2em;
  left: 30%;
  stroke-width: 1;
  fill-opacity: 0;
  animation: svgOpacity 3s ease-out 3s forwards;
}

  @-webkit-keyframes svgOpacity {
    0% { fill-opacity: 0;}
    100% {fill-opacity: 1;}
  }
/*galerie*/
a.graphLink {
    font-size: 14px;
    color: #fff;
    text-decoration: underline;
}
li.graphLinkLi {
    font-size: 12px;
    /*margin-top: 10px;*/
    padding: 10px 0;
    z-index: 999;
    display: block;
    position: relative;
}
div.latePhoto h3.marg_7 {
  font-size: 25px;
}
h3.marg_7 {
    font-size: 25px;
}

/*Kontakt*/
body#body.desktop.itemid-142 .partRight.kontakt {
    width: 100%;
}
body#body.desktop .itemId-20 .scroll_1 {
    height: 610px !important;
}
body#body .partRight.kontakt {
    background: rgba(175, 125, 247, 0.9);
    border-radius: 15px 382px 5px;
}
body.desktop div#ap_ajax_qc_87 {
    position: absolute;
    top: 190px;
    left: 500px;
    z-index: 1;
}
body.site .success {
    background: rgba(255, 255, 255, 0.6);
    padding: 20px;
    z-index: 1;
}
body.site .close {
  display: none;
}
body.site button.ap-btn {
    width: 80px;
    height: 80px; 
    border-radius: 50%;
    background-color: #db2533;
    color: #fff;
    border: 6px solid #f24d5a;
    box-shadow: inset 0px 3px 20px -6px #000, 0px 2px 30px -6px #4a4a4a;
    transition: 
      color 0.6s ease-in-out,
      background-color 0.3s ease-in-out;
}
body.site button.ap-btn:hover {
    color: #db2533;
    background-color: #fff;
}
body.site.Firefox button.ap-btn { 
    box-shadow: inset 0px 3px 20px -6px #000, 0px 2px 15px -7px #4a4a4a;
}

/*footer*/
a.impLink.impLink--impress {
    right: 90px;
}
a.impLink {
    position: absolute;
    bottom: 20px;
    right: 0;
    text-transform: lowercase;
    color: #aaaaaa;
    font-weight: normal;
}

/*standard->*/
/*menu*/
button.btn.btn-navbar {
    display: inline-block;
}

body.site ul.sf-menu li.item02>a {
    cursor: text;
}
/*
ul.sf-menu {
  animation: wackel 2s ease-in-out infinite alternate;
}
ul.sf-menu .item02 {
  animation: wackel .8s ease-in-out infinite alternate;
}
ul.sf-menu .item03 {
  animation: wackel .9s ease-in-out infinite alternate;
}
ul.sf-menu .item04 {
  animation: wackel .6s ease-in-out infinite alternate;
}
ul.sf-menu .item05 {
  animation: wackel .9s ease-in-out infinite alternate;
}

@-webkit-keyframes wackel {
  0%, 100%{transform: rotate(0deg)}
  50% {transform: rotate(-0.5deg)}
}

@keyframes wackel {
  0%, 100%{transform: rotate(0deg)}
  50% {transform: rotate(-0.5deg)}
}
*/

 /*Menue*/
/*Respsonsivve Menue*/

@media(max-width: 880px) {

  body#body.phone ul.submenu_1 {
      height: 100px;
  }
  body#body.mobile ul.submenu_1,
  body#body.mobile ul.submenu_2,
  body#body.mobile ul.submenu_3 {
      padding: 20px 50px;
      top: -4px;
      display: block;
      width: 120px;
      border-radius: 5px;
      background: rgba(255, 138, 234, 0.5);
      left: 0;
      border: 3px solid rgba(255, 255, 255, 0.3);
  }
  body#body.phone ul.submenu_3 {
      height: auto;
  }
  body.mobile.phone a.activeLink {
      height: 30px;
      text-decoration: underline;
      background: #fff;
      color: #ff8aea;
      margin-bottom: 5px;
      padding-top: 5px;
  } 
  body#body.mobile.phone .mText {
      opacity: 1 !important;
  }  
  body#body.phone .mobile-logo {
      left: 10px;
  }
  body#body.phone body.mobile .menuMov.mobile {
      margin: 80px auto 0px;
      text-align: initial;
      left: 40vw;
  }
  body#body.phone .navbar h2 {
      font-size: 16px;
      color: #aaa;
      text-align: right;
      width: 42px;
      transition: color .5s ease-in-out;
  }
  body#body.phone .navbar h2.open {
      color: #fff;
  }
  body#body.phone .mobile.mobMenu .menu {
      position: absolute;
      z-index: 1;
      display: inline-block;
      right: 25px;
      top: 35px;
  }
  body#body.phone .menuMov.mobile.mobMenu {
      margin: 0px;
  }
  body#body.phone .menuMov.mobile.mobMenu {
      position: relative;
      z-index: 10;
  }
  .container a:hover:after {
    width: 100%;
  }

  .button_container {
    position: absolute;
    top: 90%;
    left: 0%;
    height: 27px;
    width: 42px;
    cursor: pointer;
    z-index: 100;
    -webkit-transition: opacity .25s ease;
          transition: opacity .25s ease;
  }
  .button_container:hover {
    opacity: .7;
  }
  .button_container.active .top {
    -webkit-transform: translateY(10px) translateX(0) rotate(45deg);
        -ms-transform: translateY(10px) translateX(0) rotate(45deg);
            transform: translateY(10px) translateX(0) rotate(45deg);
    background: #FFF;
    box-shadow: none;
  }
  .button_container.active .middle {
    opacity: 0;
    background: #FFF;
    box-shadow: none;
  }
  .button_container.active .bottom {
    -webkit-transform: translateY(-10px) translateX(0) rotate(-45deg);
        -ms-transform: translateY(-10px) translateX(0) rotate(-45deg);
            transform: translateY(-10px) translateX(0) rotate(-45deg);
            width: 100%;
    background: #FFF;
    box-shadow: none;
  }
  .button_container span {
/*    background: #c66bfd;*/
    background: linear-gradient(220deg, #ff8aea, #e6abff, #e6a961, #c665fe, #febae6);
    background-size: 1000% 1000%;
    border: none;
    height: 3px;
    width: 100%;
    position: absolute;
    top: 0px;
    right: 0;
    -webkit-animation: AnimationName 5s ease infinite;
    -moz-animation: AnimationName 5s ease infinite;
    animation: AnimationName 5s ease infinite;
    -webkit-transition: all .35s ease;
            transition: all .35s ease;
    cursor: pointer;
    box-shadow: 1px 2px 2px 1px #e6e5e6;
  }
@-webkit-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 51%}
    100%{background-position:0% 50%}
}
@-moz-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 51%}
    100%{background-position:0% 50%}
}
@keyframes AnimationName { 
    0%{background-position:0% 50%}
    50%{background-position:100% 51%}
    100%{background-position:0% 50%}
}  
  .button_container span:nth-of-type(2) {
    top: 10px;
    width: 80%;
  }
  .button_container span:nth-of-type(3) {
    top: 20px;
    width: 50%;
  }
  #wrapper,
  header,
  .overlay {
/*    -webkit-transform-style: preserve-3d;
    backface-visibility: hidden;
    perspective: 1000;
    -webkit-backface-visibility: hidden;
    -webkit-perspective: 1000;*/
  }
  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    visibility: hidden;
    -webkit-backface-visibility: hidden;
    -webkit-transition: visibility .45s, width .45s;
            transition: visibility .45s, width .45s;
    z-index: 50;
  }
  .overlay:before {
    content: '';
    background: #ff8aea;
    -webkit-transform: translateX(-200%);
    transform: translateX(-200%);
    top: 0;
    width: 50%;
    height: 100%;
    position: absolute;
    opacity: .7;
    -webkit-transition: all .45s ease .3s;
            transition: all .45s ease .3s;
  }
  .overlay:after {
    content: '';
    background: #ff8aea;
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
    top: 0;
    width: 50%;
    height: 100%;
    opacity: .7;
    position: absolute;
    -webkit-transition: all .45s ease .3s;
            transition: all .45s ease .3s;
  }

  .overlay.open h2 {
    font-size: 16px;
    line-height: 18px;
    margin: 0px 0px 10px 0px;
  }

  .overlay.open h3 {
    font-size: 12px;
    line-height: 16px;
    color: #C3C3C3;
    margin: 0px;
  }

  .overlay.open {
    visibility: visible !important;
    height: 100%;
  }

  .overlay.open h3,
  .overlay.open h2 {
    visibility: visible !important;
    height: 100%;
  }

  div#overlay.overlay.open nav.overlay-menu ul li.visible-phone h2 {
    margin-bottom: 0px !important;
  }

  div#overlay.overlay.open nav.overlay-menu ul li.visible-phone h2 a {
      padding: 10px 0px 0px 0px;
  }

  .overlay.open:before {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
    -webkit-transition: all .45s ease;
        transition: all .45s ease;
  }
  .overlay.open:after {
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
    -webkit-transition: all .45s ease;
            transition: all .45s ease;    
  }
/*fade in delay li-elemente*/
  .overlay.open li {
    left: initial;
    -webkit-transform: translateZ(0);
    -webkit-animation: fadeInRight .5s ease forwards;
            animation: fadeInRight .5s ease forwards;
    -webkit-animation-delay: .35s;
            animation-delay: .35s;
  }
  .overlay.open li:nth-of-type(2) {
    -webkit-animation-delay: .45s;
            animation-delay: .45s;
  }
  .overlay.open li:nth-of-type(3) {
    -webkit-animation-delay: .55s;
            animation-delay: .55s;
  }
  .overlay.open li:nth-of-type(4) {
    -webkit-animation-delay: .65s;
            animation-delay: .65s;
  }
  .overlay.open li:nth-of-type(5) {
    -webkit-animation-delay: .75s;
            animation-delay: .75s;
  }
  .overlay.open li:nth-of-type(6) {
    -webkit-animation-delay: .85s;
            animation-delay: .85s;
  }
  .overlay.open li:nth-of-type(7) {
    -webkit-animation-delay: .95s;
            animation-delay: .95s;
  }
  .overlay.open li:nth-of-type(8) {
    -webkit-animation-delay: 1.05s;
            animation-delay: 1.05s;
  }
  .overlay.open li:nth-of-type(9) {
    -webkit-animation-delay: 1.15s;
            animation-delay: 1.15s;
  }  

  .overlay nav {
    position: relative;
    height: 70%;
    top: 50%;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    font-size: 12px;
    font-weight: 400;
    text-align: center;
    z-index: 100;
  }
  .overlay ul {
    list-style: none;
    padding: 0;
    margin: 40px auto 0px;
    display: inline-block;
    position: relative;
/*    height: 100%;*/
  }

  body#body.phone .overlay ul li {
    display: block;
    height: 25%;
    height: calc(100% / 8);
    min-height: 50px;
    position: relative;
    opacity: 0;
    float: none;
        -webkit-backface-visibility: hidden;
  }

  .overlay ul li a {
    font: 21px/1.2em 'Questrial', sans-serif;
    display: block;
    position: relative;
    color: #FFF;
    text-decoration: none;
    overflow: hidden;
    padding-bottom: 5px;
    text-shadow: 5px 3px 10px #e6a5e6;
        -webkit-backface-visibility: hidden;
  }
  /*lade-Border*/
  .overlay ul li a:hover:after, .overlay ul li a:focus:after, .overlay ul li a:active:after {
    width: 100%;
  }

  .overlay ul li a:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
    height: 3px;
    background: #FFF;
    -webkit-transition: .55s;
            transition: .55s;
  }

  @-webkit-keyframes fadeInRight {
    0% {
      opacity: 0;
      -webkit-transform: translateX(20%);
    }
    100% {
      opacity: 1;
      -webkit-transform: translateX(0%);
    }
  }

  @keyframes fadeInRight {
    0% {
      opacity: 0;
      transform: translateX(20%);
    }
    100% {
      opacity: 1;
      transform: translateX(0%);
    }
  }
}

/*bootstrap Carousel*/

.item {
   max-width: 100%;
}

/*
  Bootstrap Carousel Fade Transition (for Bootstrap 3.3.x)
*/
.carousel-fade .carousel-inner .item {
  opacity: 0;
  transition: opacity 2.0s ease;
}

.carousel-fade .carousel-inner .active {
  opacity: 1;
}

.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  left: 0;
  opacity: 0;
  z-index: 1;
}

.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
  opacity: 1;
}

.carousel-fade .carousel-control {
  z-index: 2;
}

/*
  WHAT IS NEW IN 3.3: "Added transforms to improve carousel performance in modern browsers."
  Need to override the 3.3 new styles for modern browsers & apply opacity
*/
@media all and (transform-3d), (-webkit-transform-3d) {
    .carousel-fade .carousel-inner > .item.next,
    .carousel-fade .carousel-inner > .item.active.right {
      opacity: 0;
      -webkit-transform: translate3d(0, 0, 0);
              transform: translate3d(0, 0, 0);
    }
    .carousel-fade .carousel-inner > .item.prev,
    .carousel-fade .carousel-inner > .item.active.left {
      opacity: 0;
      -webkit-transform: translate3d(0, 0, 0);
              transform: translate3d(0, 0, 0);
    }
    .carousel-fade .carousel-inner > .item.next.left,
    .carousel-fade .carousel-inner > .item.prev.right,
    .carousel-fade .carousel-inner > .item.active {
      opacity: 1;
      -webkit-transform: translate3d(0, 0, 0);
              transform: translate3d(0, 0, 0);
    }
}
/*!<-- end BS carousel

/*
 * tmpl-Standards
 */

.site-title {
  font-size: 32px;
  font-weight: bold;
  color: #333;
}

.header {
  padding: 0;
}

.clear-footer {
  border-top: 4px solid #0282c3;
  color: #959fa4;
}

.navbar .navbar-inner {
    border: none;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    -webkit-box-shadow: 0 1px 1px 0 rgba(0,0,0,0.3);
    -moz-box-shadow: 0 1px 1px 0 rgba(0,0,0,0.3);
    box-shadow: 0 1px 1px 0 rgba(0,0,0,0.3);
    padding: 0;
}

.navbar-wrapper .container {
    padding-top: 0;
    padding-bottom: 0;
}

.navbar {
    margin: 0 0 5px 0;
    padding: 0;
    position: relative;
    z-index: 999;
}
/*cookie control*/
body#body #cookiesck {
    z-index: 999;
    color: #ffffff;
}
body#body #cookiesck_accept {
    background: rgba(190, 99, 255, 0.6);
    color: #fff;
}
body#body.desktop #cookiesck_accept {

}
body#body .cookiesck_inner,
body#body #cookiesck_readmore {
    text-shadow: 1px 1px 6px #570094;
}
body#body #cookiesck_readmore {
    color: #fff;
    text-decoration: underline;
}
@media(max-width: 1279px) {
  body#body.mobile #cookiesck {
      bottom: 0px !important;
  }
}

/*resize Alarm*/
body.desktop #resizeAlarm {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.8);
    text-align: center;
    z-index: 999;
}
body.desktop #resizeAlarm p {
    line-height: 50px;
    color: #fff;
    font-size: 21px;
    text-shadow: 2px 2px 3px #333333;
    -webkit-transform: translate(0%,50%);
        -ms-transform: translate(0%,50%);
            transform: translate(0%,50%);
}