/*
 * Responsive CSS 089-Webdesign
 */

@media(width: 320px) {

}

@media(width: 480px) {
	
}

@media(width: 600px) {
	
}

@media(width: 768px) {
	
}

@media(width: 800px) {
	
}

@media(width: 1024px) {
	
}
@media(max-width: 320px) {
	body#body.site.mobile .itemId-22.itemContent iframe {
	    transform: scale(0.75) translate(-80px, -70px);
	    margin: 0 auto;
	    display: block;
	}
	body.mobile .overlay nav {
	    overflow-y: scroll;
	}	
}
@media(max-width: 360px) {
	body#body.mobile .itemId-22.itemContent iframe {
	    transform: scale(0.85) translate(-50px, -40px);
	    margin: 0 auto;
	    display: block;
	}
}
@media(max-width: 375px) {
	body.site.mobile .itemId-22.itemContent iframe {
	    transform: scale(0.95) translate(-35px, -20px);
	    margin: 0 auto;
	    display: block;
	}
}
@media(max-width: 414px) {
	body.mobile .itemId-22.itemContent iframe {
	    transform: scale(1) translate(-15px, 0px);
	    margin: 0 auto;
	    display: block;
	}
	body.mobile #arrows1 {
		  margin: -30px 0 0 149px;
		}
}

@media(max-width: 360px) and (orientation: portrait) {
	/*critical*/
	body#body.mobile .mobile-logo {
	     z-index: auto; 
	}
}
@media(width: 600px) and (orientation: portrait) {
	body#body.mobile.tablet .menuMov.mobile {
	    left: 0vw !important;
	}
	body#body.mobile.tablet .mobMenu .menu {
	    left: 0px !important;
	}	
}
@media(max-width: 640px) {
	/*critical*/
	body.mobile .overlay ul {
    	margin: 5px auto 0px;
	}
	body#body.site.mobile span.logoBuiz {
		font-size: 22px !important;
	}
	body.mobile .mobile-logo {
	    top: 0px;
	    max-width: 220px;
	    padding: 15px 10px 10px;
	}
	body.mobile #logo {
	    width: 220px;
	    height: 70px;
	    font-size: 19px;
	}
	body#body.mobile img.lotusLogo-mobile {
	    left: 180px;
	    width: 30%;
	}
}
@media(max-width: 880px) and (orientation: landscape) {

	body#body.phone #wrapper .containerHolder {
	    z-index: 0;
	}
	body.mobile .overlay nav {
	    height: 70%;
	    top: 60%;
	    overflow-y: scroll;
	}	
}
@media(max-width: 736px) {
/*	body.mobile.itemid-142 .news_module {
			display: none;
	}*/
}
@media(max-width: 768px) {
	/*critical*/
	.mobile-logo {
	    left: 10px;
	}
}

@media(min-width: 980px) {
	body.site button.btn.btn-navbar {
	    display: none;
	}
}

@media(min-width: 1025px) {

	body.IE.desktop #ap_ajax_qc_87 input,
	body.IE.desktop #ap_ajax_qc_87 textarea,
	body.IE.desktop #ap_ajax_qc_87 .error {
		width: 30.4%;
	}	

}

@media(max-width: 767px) {
	/*critical*/
	a.graphLink {
	    white-space: nowrap;
	}
	body.mobile p.tel a {
	    font-size: 18px;
	}
	body.mobile .inner {
	    padding: 70px 0 0;
	}	
	body.mobile ul.submenu_1 {
	    height: 180px;
	}
	body.site.mobile ul.submenu_2 {
	    height: auto;
	}
	body.site.mobile ul.submenu_3 {
	    height: auto;
	}	
	body.mobile ul.submenu_1,
	body.mobile ul.submenu_2,
	body.mobile ul.submenu_3 {
	    padding: 20px 50px;
	    top: -4px;
	    display: block;
	    width: 120px;
	    border-radius: 5px;
	    background: rgba(255, 138, 234, 0.5);
	    left: 0;
	    border: 3px solid rgba(255, 255, 255, 0.3);
	}	
	body.mobile .mText {
	    opacity: 1 !important;
	}
	body.mobile .slider1 {
	    width: 75vw;
	}	
	body.mobile .containerHolder {
	-webkit-filter: blur(0px);
			filter: blur(0px);
			transition: filter 0.3s ease-in-out, -webkit-filter 0.3s ease-in-out;
	}
	body.mobile #wrapper.open .containerHolder {
	-webkit-filter: blur(3px);
			filter: blur(3px);
	}	
	.mobile.mobMenu .menu {
	    position: absolute;
	    z-index: 1;
	    display: inline-block;
	    right: 15px;
	    top: 35px;
	}
	body.mobile #wrapper .containerHolder {
		z-index: 0;
	}
/*	body#body.mobile .social-icon {
	    position: fixed;
	}*/
	body.mobile a.impLink {
	    display: none;
	    visibility: hidden;
	}	
}
@media(max-width: 880px) and (orientation: landscape) {


}
@media(min-width: 768px) and (max-width: 1366px) {
	/*critical*/
	body#body.tablet ul.submenu_1 {
	    padding: 10px;
	}
	body#body.mobile {
	    overflow-x: hidden;
	}	
	body.mobile .introContent {
	    display: -webkit-box;
	    display: -ms-flexbox;
	    display: flex;
	    -webkit-box-orient: horizontal;
	    -webkit-box-direction: normal;
	        -ms-flex-direction: row;
	            flex-direction: row; 
	    -ms-flex-pack: distribute; 
	        justify-content: space-around;
	    -webkit-box-align: center;
	        -ms-flex-align: center;
	            align-items: center;
	}
	body.mobile .service_module  {
		margin-left: 30px;
	}
	body.mobile .menuMov.mobile ul li {
		opacity: .7;
	}
	body.mobile .mobile-logo {
	    right: 60px;
	}
	body.mobile.tablet .menuMov.mobile {
		margin: 80px auto 0px;
	    text-align: initial;
	    left: 40vw;
	}
	/*non-critical*/
	body#body.mobile footer {
	    position: fixed;
	    bottom: 30px;
	    left: 60px; 
	    z-index: 999;

	}
	body#body.mobile a.impLink {
	    position: relative;
	    color: #7d7d7d;
	    right: 80px;
	}
	body#body.mobile .social-icon {
		margin-left: 0px;
    	bottom: 10px;
	}
}
	@media(max-width: 1279px) and (orientation: landscape) {
			/*critical*/
		body#body.mobile.tablet ul.sf-menu {
		    -webkit-transform: scale(0.9);
		        -ms-transform: scale(0.9);
		            transform: scale(0.9);
		    opacity: 0.8;
		}			

	/*	.menuMov.mobile {
		   	margin: 50px 0 0 130px;
		}
		body.site .item02 {
	    	left: 185px;
	    }			
		body.site .item03 {
	    	left: -130px;
	    }	
	    body.site .item06 {
	    	left: -45px;
	    }	
	    body.site .item05 {
	    	left: 160px;
	    }*/		    
	}
	@media(max-width: 1366px) and (orientation: portrait) {
		/*critical*/
		body#body.mobile.tablet .menuMov.mobile {
		    left: 30vw;
		    top: 10vh;
		    opacity: 0.9;
		}		
		body.mobile .list_2 .thumbnail img {
		    width: 100%;
		}	
		body.mobile .katItems .list_2 li {
		    width: 210px;
		    display: inline-block;
		    margin: 0 20px;
		}
		body.mobile .katItems .list_2 {
			margin: 0px;
		}
	}

@media(min-width: 768px) and (max-width: 1280px) { 
	/*critical*/	
	.row.mobRow.gallery .itemContent {
	    display: -webkit-box;
	    display: -ms-flexbox;
	    display: flex;
	    -webkit-box-align: center;
	        -ms-flex-align: center;
	            align-items: center;
	}
	body.mobile a.impLink {
	    right: 80px;
	}
}
@media(min-width: 768px) and (max-width: 1441px) {

	body.site footer {
	    bottom: 80px;
	}
	body.site .menuMov {
	    margin-top: 127px;
	}
	body.site #wrapper .containerHolder {
	    top: 74px;
	}
	body.site .contHolder {
		top: 74px;
	}
}
@media(max-width: 1366px) {
	/*critical*/
	body#body.phone .itemId-33.itemContent h2 {
		margin: 10px 0px;
	}	
	body#body.phone .itemId-33.itemContent h3 {
		font-size: 21px;
	}
	body#body.phone .itemId-33.itemContent h4 {
	    font-size: 18px;
	    line-height: 23px;
	}
	body#body.mobile.phone .partnerImg--container {
	    max-width: 60%;
	}	
	body#body.mobile .partnerImg--container {
	    max-width: 35%;
	}	
	body#body.site.mobile span.logoBuiz {
		font-family: 'Allura', cursive;
	    color: #fbfbfb;
	    text-shadow: 0px 1px 0px #313131;
		font-size: 24px;
	}
	body.mobile #ap_ajax_qc_87 input,
	body.mobile #ap_ajax_qc_87 textarea,
	body.mobile #ap_ajax_qc_87 .error {
	    width: 70vw;
	}
	body.mobile #ap_ajax_qc_87 input#captcha {
	    width: 15vw;
	}	
	body.mobile #fancybox-overlay {
	    height: 1200px !important;
	}	
	body.mobile #fancybox-left span {
		right: auto;
		left: 20px;
	}		
	body.mobile #fancybox-right span {
		left: auto;
		right: 20px;
	}	
	body.mobile #fancybox-left,
	body.mobile #fancybox-right {
	    visibility: visible !important;
	    display: block !important;
	}
	body.mobile .latePhoto {
	    margin: 25px;
	}
	body.mobile .but_back a img {
	    margin: 10px 35px 5px;
	}
	body.mobile .but_back.btnSmall {
		transform: scale(0.7);
		box-shadow: inset 1px 1px 15px -7px #000, 3px 3px 15px -4px #a05fa7;
	}
	body.mobile .but_back {
	    position: fixed;
	    width: 100px;
	    height: 100px;
	    left: initial;
	    right: 30px;
	    top: 160px;
	    background: #ff98d4;
	    border-radius: 50%;
	    box-shadow: 1px 5px 35px -11px #424242;
	    transform: scale(1);
	    transition: all .3s ease-in-out;
	}	
	body.mobile footer {
	    position: absolute;
	    bottom: 0px;
	}
	body.mobile .social-icon {
	    text-align: initial;
	    margin-left: 35px;
	    bottom: 0px;
	    position: fixed;
	}
	body#body.mobile .intrTxt.scroll_1 {
		height: auto !important;
	}
	body.mobile .itemContent>img {
	    float: left;
	    margin-right: 20px;
	    margin-top: 20px;
	}
	body.mobile .katItems .list_2 {
			text-align: center;
	}	
	body.mobile .row.mobRow {		
	    flex-direction: column-reverse;
	}
	body.mobile .row.mobRow {
	    display: flex;
	}
	body.mobile #wrapper {
		overflow: initial !important;
	}
	body.mobile .content .container .row {
		margin-left: 0px;
	}
	body.mobile .content h2,
	body.mobile .content h3,
	body.mobile .content h4,
	body.mobile .content ul li,
	body.mobile .content p {
		text-shadow: 2px 2px 5px #7d4492;
	}
	body.mobile .itemId-23.itemContent .intrTxt {
	    margin-top: 30px;
	}	
	body.mobile .itemContent,
	body.mobile .introContent,
	body.mobile .katItems {
	    border-radius: 10px;
	    padding: 30px;
	    margin: 0px 20px 15px;
	}
	body.mobile #wrapper .containerHolder {
	    left: 0px;
	    top: 44px;
	}
	body.mobile .introContent {
	    background: rgba(236, 179, 251, 0.8);
/*	    position: relative;
	    left: 10px;	  */  
	}
	body.mobile .itemContent,
	body.mobile .katItems {
	    background: rgba(198, 90, 254, 0.8);
	}
	body#body ul.sf-menu li:after {
	    box-shadow: 2px 2px 40px -9px #777777;
	}
	body .mobBckgr	{
		background-size: cover;
	    width: 100%;
	    height: 100%;
	    left: 0px;
	    top: 0px;
	    margin: 0px;
	    padding: 0px;
	    z-index: -999999;
	    position: absolute;
	}
	body#body.mobile {
/*	    background-image: url('/templates/web-loves-you-gs/img/bg_pic-mobile.jpg');
	    background-repeat: no-repeat;
	    background-position: left top;
	    background-attachment: fixed;	
	    background-size: cover;	*/
/*	    background: url('/templates/web-loves-you-gs/img/bg_pic-mobile.jpg') top left no-repeat fixed !important;
	    background-size: cover;*/
	    min-height: 320px !important;
	}
	body.mobile img.lotusLogo-mobile {
	    left: 230px;
	    position: absolute;
	    top: 0px;
	    z-index: -1;
	    opacity: 0.7;
	    transform: rotate(15deg);
	    width: 40%;
	    height: auto;
	}	
	body.mobile .mobile-logo {
	    position: absolute;
	    top: 0px;
	    max-width: 300px;
	    padding: 15px 10px 5px;
	    display: flex;
	    z-index: 11;
	}	
	body.mobile #logo {
	  position: initial;
	}	
	body.mobile *.container {
		position: initial;
		margin-left: 0px;
		margin-right: 0px;
		width: initial;
	}
	body.mobile [class*="span"] {
	    margin-left: 0px;
	}
	body.mobile [class*="span12"] {
	    width: 100%;
	}		
	img.mobile.bckgr-image {
		position: absolute;
		opacity: .7;
	}
}
@media(min-width: 1400px) and (min-height: 950px) {

		body.site.desktop {
		overflow: hidden !important;
	}
}
@media(min-width: 1280px) {
	/*critical*/
/*	body.desktop .news_module {
	    position: relative;
	    left: -130px;
	    top: 80px;
	} */
	body.desktop .service_module {
	    top: 188px;
	    position: absolute;
	}
	body.desktop .itemContent h2 {
	    position: relative;
	    left: -100px;
	    top: -30px;
	    text-align: center;
	}
	body.desktop #logo {
	  margin: 75px 5px 0 0;
	}
	body.desktop header {
	  position: absolute;
	  width: 100%;
	  z-index: 5;
	  margin: 0 auto;
	  top: 0;
	  z-index: 100;
	}
	body.desktop #logo {
  		margin: 75px 5px 0 0;
	}
	img.contImg {
	    box-shadow: 0px 0px 20px -5px #000;
	}
}

@media(min-width: 1281px) {
	/*critical*/
	div.galHolder {
	    margin-left: 80px;
	}
	.slider1 {
	    margin-top: 70px;
	}
}
@media(max-width: 1400px) {
	body#body.desktop #wrapper {
		overflow: visible !important;
	}
}

/*specials*/
@media(max-width: 1023px) {
	body#body.desktop div#wrapper {
		-webkit-filter: blur(10px);
		        filter: blur(10px);
		transition: filter 0.2s linear;
	}
	body.desktop #resizeAlarm {
		display: block;
	}	
}
@media(min-width: 1024px) {
	body.desktop #resizeAlarm {
		display: none !important;
	}
}