
@import "jquery.fancybox-1.3.4.css";
/*------ template stylization ------*/
body {
  background: #ffffff;
  font: 14px "Trebuchet MS", Helvetica, Arial, sans-serif;
  line-height: 20px;
  color: #ffffff;
/*  min-width: 1200px;*/
  text-transform: uppercase;
  font-weight: bold;
}
.nav-collapse.collapse {
  text-transform: none;
}
#webSiteLoader {
  position: fixed;
  width: 100%;
  height: 100%;
  background: #ffffff url(../img/web_site_loader.gif) center no-repeat;
  z-index: 1023;
  top: 0;
}
#pageLoader {
  position: fixed;
  width: 72px;
  height: 72px;
  top: 50%;
  left: 50%;
  margin: -36px 0 0 -36px;
  background: url(../img/bg_loader.png) 0 0 no-repeat;
  z-index: 1000;
  padding: 3px;
  display: none;
}
#pageLoader > div {
  margin: 9px 10px;
  background: url(../img/web_page_loader.gif) 0 0 no-repeat;
  width: 46px;
  height: 46px;
}
#back-top {
  position: fixed;
  bottom: 10px;
  right: 10px;
  width: 50px;
  height: 50px;
  background: url("../img/up-arrow.png") center 12px no-repeat;
  z-index: 1000;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  display: none;
  cursor: pointer;
}
.brand {
  text-transform: none!important;
}
.animate,
.animate:hover {
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.mainPicHolder {
  position: absolute;
  z-index: 20;
  width: 100%;
  bottom: 0;
}
.mainPic {
  position: relative;
  display: block;
  width: 492px;
  height: 871px;
  background: url("../img/mainPic.jpg") 0 0 no-repeat;
  margin: 0 0 0 53px;
  bottom: 0;
}
h1,
h2,
h3,
h4 {
  text-transform: none;
}
h4 {
  line-height: 30px;
}
.corr_1 {
  text-transform: uppercase;
  font-weight: bold;
  color: #ffe58c;
  margin: -9px 0 -7px;
}
.corr_2 {
  text-transform: normal;
  font-weight: bold;
  color: #ffe58c;
  margin: -9px 0 -7px;
  font-size: 24px;
}
.marg_1 {
  margin-bottom: 27px;
}
.marg_2 {
  margin-bottom: 21px;
}
.marg_3 {
  margin-top: 32px ;
  margin-bottom: 22px;
}
.marg_4 {
  margin-bottom: 29px;
}
.marg_5 {
  margin: 14px 0 29px;
}
.marg_6 {
  margin-top: 32px ;
  margin-bottom: 2px;
}
.marg_7 {
  margin-bottom: 18px;
}
.marg_8 {
  margin-bottom: 31px;
}
.marg_9 {
  margin-bottom: 13px;
}
.size_1 {
  font-size: 13px;
  line-height: 18px;
}
blockquote {
  font-style: italic;
  font-weight: normal;
  border-left: none;
  padding: 0;
}
.btn {
  font: bold 14px/14px "Trebuchet MS", Helvetica, Arial, sans-serif;
  color: #ffffff;
  text-shadow: none;
  position: relative;
  display: inline-block;
  padding: 13px 23px;
  background: #ff9e40;
  border: none;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: inset 0 0 0;
  -moz-box-shadow: inset 0 0 0;
  box-shadow: inset 0 0 0;
  box-shadow: 0px 4px 20px -4px #a96421;
  cursor: pointer;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.btn:hover {
  text-decoration: none;
  color: #ffe58c;
  background: #ffffff;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
/*------ header ------- */
header {
  position: absolute;
  width: 100%;
  z-index: 5;
  margin: 0 auto;
  top: 0;
  z-index: 100;
}
#logo {
  display: inline-block;
  position: relative;
  /*background: url('../img/logo.png') 0 0 no-repeat;
  text-indent: -9999px;*/
  position: absolute;
  right: -30px;  
  width: 227px;
  height: 92px;
  float: right;
}
#logo:hover {
  text-decoration: none;
}

/*--- menu ------*/
.menuMov {
  position: relative;
  width: 100%;
  margin: 0 auto;
  text-transform: none;
  margin-top: 157px;
  text-align: center;
  z-index: 10;
}
.menu {
  position: relative;
  z-index: 1;
  display: inline-block;
}
.sf-menu {
  z-index: 3;
  position: relative;
  display: inline-block;
  margin-left: 0;
}
.sf-menu > li {
  position: relative;
  color: #383636;
  display: inline-block;
  float: left;
  opacity: 0;
}
.sf-menu > li > a {
  display: inline-block;
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.sf-menu > li > a:hover {
  text-decoration: none;
}
.sf-menu > li.active > a {
  text-decoration: none;
}
.submenu_1 {
  position: absolute;
  top: 127px;
  left: 9px;
  width: 73px;
  padding: 17px 18px 20px 28px;
  z-index: 5;
  background: #ff8aea;
  margin: 0;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
}
.submenu_1:after,
body.desktop .submenu_2:after,
body.tablet .submenu_2:after,
body.desktop .submenu_3:after,
body.tablet .submenu_3:after {
  position: absolute;
  display: block;
  width: 11px;
  height: 6px;
  background: url('../img/arr.png') no-repeat 0 0;
  top: -6px;
  left: 53px;
  pointer-events: none;
  content: "";
}
.submenu_1:after {
    left: 53px;
}
body.desktop .submenu_2:after,
body.tablet .submenu_2:after {
    left: 43px;
}

/*                                      .submenu_2,
                                      .submenu_3{
                                          opacity: 1 !important;
                                          display: block !important;
                                      }*/
body.site.desktop .submenu_3:after,
body.site.tablet .submenu_3:after {
    left: -3px;
    top: 20px;
    transform: rotate(310deg);
      -webkit-transform: rotate(310deg);
      -ms-transform: rotate(310deg);
}
.submenu_1 li {
  position: relative;
  list-style: none;
  padding: 5px 0;
}
body.desktop .submenu_1 li {
  text-align: left;
  background: url('../img/line_bg.jpg') repeat-x 0 bottom;
}
.submenu_1 a {
  font: 14px/1.2em Arial, Helvetica, sans-serif;
  color: #ffffff;
  position: relative;
  display: inline-block;
  padding: 1px 0 1px  !important;
  text-decoration: none;
  z-index: 1;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.submenu_1 a:hover {
  color: #ffea97 !important;
}
.submenu_1 li > a:hover,
.submenu_1 li .hoverItem {
  color: #ffea97 !important;
}
/*.submenu_2 {
  position: absolute;
  width: 73px;
  left: 93px;
  top: -17px;
  z-index: 10;
  margin: 0;
  padding: 17px 18px 20px 28px;
  background: #ff5a00;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
}*/

body.desktop .submenu_2,
body.tablet .submenu_2 {
    position: absolute;
    /* width: 70px; */
    left: 0px;
    top: 90px;
    z-index: 10;
    margin: 0;
    padding: 10px;
    background: #e6abff;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 100%;
    /* height: 70px; */
    width: 80px;
    height: 80px;
}
body.desktop .submenu_3,
body.tablet .submenu_3 {
    position: absolute;
    /* width: 70px; */
    left: 80px;
    top: 40px;
    z-index: 10;
    margin: 0;
    padding: 10px;
    background: #ff8aea;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 100%;
    /* height: 70px; */
    width: 70px;
    height: 70px;
}
.submenu_2 li  {
  list-style-type: none;
  line-height: 80px;
}
.submenu_3 li  {
  list-style-type: none;
  line-height: 70px;
}

.submenu_2 .marTop,
.submenu_3 .marTop {
  margin: 10px 0 0;
}
.submenu_2 .marBot,
.submenu_3 .marBot {
  margin: 0 0 0px;
}
.submenu_2 a,
.submenu_3 a {
  color: #ffffff;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.submenu_2 a:hover,
.submenu_3 a:hover {
  color: #ffea97 !important;
}
.submenu_2 li > a:hover,
.submenu_2 .hoverItem,
.submenu_3 li > a:hover,
.submenu_3 .hoverItem {
  color: #ffea97 !important;
}

@media(min-width: 600px) {
  body.desktop .mText,
  body.tablet .mText {
    font: 21px/1.2em 'Questrial', sans-serif;
    color: #ffffff;
    position: absolute;
    width: 100%;
    z-index: 1;
    text-align: center;
    left: 0;
    padding-top: 33px;
  }
  body.desktop .mTextOver,
  body.tablet .mTextOver {
    font: 21px/1.2em 'Questrial', sans-serif;
    color: #b4a4bd;
    position: absolute;
    width: 100%;
    z-index: 3;
    text-align: center;
  }
  body.desktop ._area,
  body.tablet ._area {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    z-index: 5;
    left: 0;
    display: block;
  }
  body.desktop ._overPl,
  body.tablet ._overPl {
    position: absolute;
    width: 100%;
    height: 84px;
    bottom: 100px;
    z-index: 2;
    left: 0;
    display: none;
    background: none;
  }
  body.desktop ._overLine,
  body.tablet ._overLine {
    position: relative;
    z-index: 2;
    display: inline-block;
    background: #fff;
    opacity: 0;
  }
  body.desktop .item01,
  body.tablet .item01 {
    position: absolute!important;
    top: -20px;
    left: 0px;
    display: inline-block;
    width: 140px;
    height: 140px;
    background: url('../img/itemBg1.png') 50% 50% no-repeat;
    background-size: 100%;

  }
  body.desktop .item01 .mText,
  body.tablet .item01 .mText {
    padding-top: 57px;
  }
  body.desktop .item01 .mTextOver,
  body.tablet .item01 .mTextOver {
    margin-top: -72px;
  }
  body.desktop .item01 ._overLine,
  body.tablet .item01 ._overLine {
    width: 124px;
    height: 124px;
    top: 8px;
    left: 0px;
    background: url('../img/item_act01.png') 0 0 no-repeat;
    background-size: 100%;
  }
  body.desktop .item02,
  body.tablet .item02 {
    position: absolute!important;
    top: 100px;
    left: 215px;
    display: inline-block;
    width: 137px;
    height: 137px;
    background: url('../img/itemBg2.png') 0 0 no-repeat;
  }
  body.desktop .item02 .mText,
  body.tablet .item02 .mText {
    padding-top: 58px;
  }
  body.desktop .item02 .mTextOver,
  body.tablet .item02 .mTextOver {
    margin-top: -64px;
  }
  body.desktop .item02 ._overLine,
  body.tablet .item02 ._overLine {
    width: 117px;
    height: 117px;
    top: 10px;
    left: 0px;
    background: url('../img/item_act02.png') 0 0 no-repeat;
  }
  body.desktop .item03,
  body.tablet .item03 {
    position: absolute!important;
    top: 217px;
    left: -210px;
    display: inline-block;
    width: 165px;
    height: 165px;
    background: url('../img/itemBg3.png') 0 0 no-repeat;
  }
  body.desktop .item03 .mText,
  body.tablet .item03 .mText {
    padding-top: 60px;
  }
  body.desktop .item03 .mTextOver,
  body.tablet .item03 .mTextOver {
    margin-top: -84px;
  }
  body.desktop .item03 ._overLine,
  body.tablet .item03 ._overLine {
    width: 139px;
    height: 139px;
    top: 13px;
    left: 0px;
    background: url('../img/item_act03.png') 0 0 no-repeat;
  }
  body.desktop .item04,
  body.tablet .item04 {
    position: absolute!important;
    top: 339px;
    left: 340px;
    display: inline-block;
    width: 91px;
    height: 91px;
    background: url('../img/itemBg4.png') 0 0 no-repeat;
  }
  body.desktop .item04 .mText,
  body.tablet .item04 .mText {
    padding-top: 33px;
    display: none;
  }
  body.desktop .item04 .mTextOver,
  body.tablet .item04 .mTextOver {
    margin-top: -50px;
  }
  body.desktop .item04 ._overLine,
  body.tablet .item04 ._overLine {
    width: 79px;
    height: 79px;
    top: 6px;
    left: 0px;
    background: url('../img/item_act04.png') 0 0 no-repeat;
  }
  body.desktop .item04 ._overPl,
  body.tablet .item04 ._overPl {
    position: absolute;
    width: 30px;
    height: 20px;
    z-index: 2;
    top: 35px;
    left: 31px;
    display: block;
    background: url('../img/item04_pic.png') 0 0 no-repeat;
  }
  body.desktop .item05,
  body.tablet .item05 {
    position: absolute!important;
    top: 472px;
    left: 130px;
    display: inline-block;
    width: 205px;
    height: 205px;
    background: url('../img/itemBg5.png') 0 0 no-repeat;
  }
  body.desktop .item05 .mText,
  body.tablet .item05 .mText {
    padding-top: 90px;
  }
  body.desktop .item05 .mTextOver,
  body.tablet .item05 .mTextOver {
    margin-top: -84px;
  }
  body.desktop .item05 ._overLine,
  body.tablet .item05 ._overLine {
    width: 169px;
    height: 169px;
    top: 18px;
    left: 0px;
    background: url('../img/item_act05.png') 0 0 no-repeat;
  }
  body.desktop .item06,
  body.tablet .item06 {
    position: absolute!important;
    top: -20px;
    left: -5px;
    display: inline-block;
    width: 180px;
    height: 180px;
    background: url('../img/itemBg6.png') 0 0 no-repeat;
    background-size: 100%;
  }
  body.desktop .item06 .mText,
  body.tablet .item06 .mText {
    padding-top: 77px;
    font-size: 18px;
  }
  body.desktop .item06 .mTextOver,
  body.tablet .item06 .mTextOver {
    margin-top: -92px;
    font-size: 18px;
  }
  body.desktop .item06 ._overLine,
  body.tablet .item06 ._overLine {
    width: 164px;
    height: 164px;
    top: 8px;
    left: 0px;
    background: url('../img/item_act01.png') 0 0 no-repeat;
    background-size: 100%;
  }
  body.desktop .item07,
  body.tablet .item07 {
    position: absolute!important;
    top: -20px;
    left: 0px;
    display: inline-block;
    width: 100px;
    height: 100px;
    background: url('../img/itemBg7.png') 50% 50% no-repeat;
    background-size: 100%;

  }
  body.desktop .item07 .mText,
  body.tablet .item07 .mText {
    padding-top: 30px;
    font-size: 18px;
  }
  body.desktop .item07 .mTextOver,
  body.tablet .item07 .mTextOver {
    margin-top: -60px;
    font-size: 18px;
  }
  body.desktop .item07 ._overLine,
  body.tablet .item07 ._overLine {
    width: 84px;
    height: 84px;
    top: 8px;
    left: 0px;
    background: url('../img/item_act07.png') 0 0 no-repeat;
    background-size: 100%;
  }  
}

/*--- menu end ------*/
/*--- header end ------*/
/*------ content ------- */
#wrapper .containerHolder {
  position: relative;
  width: 100%;
  z-index: 700;
  top: 154px;
  left:50px;
  overflow: hidden;
}
#wrapper section > div {
  position: relative;
}
#wrapper section {
  position: relative;
  width: 100%;
  height: 100%;
}
#wrapper > section > div {
  position: relative;
}
.container {
  position: relative;
  z-index: 1;
}
.content_inner {
  padding-right: 15px;
}
.dynamicContent {
  position: absolute;
  width: 100%;
  top: 0;
}
.inner {
  position: relative;
  padding: 107px 0 0;
}
.contHolder {
  position: absolute;
  z-index: 500;
  top: 154px;
  left: 50px;
  width: 100%;
  bottom: 0;
}
.mainBg {
  position: relative;
  display: block;
}
.partLeft {
  position: absolute;
  display: block;
/*  width: 503px;
  height: 503px;*/
  width: 624px;
  height: 624px;  
  background: url('../img/partLeft.png') 0 0 no-repeat;
  z-index: 10;
  /*top: 29px;*/
  top: 110px;
  left: 31px;
}
.partMenu {
  position: absolute;
  display: block;
  width: 147px;
  height: 147px;
  background: url('../img/partMenu.png') 0 0 no-repeat;
  z-index: 15;
/*  top: 397px;*/
  top: 470px;
  left: 31px;
}
.partRight {
  position: absolute;
  display: block;
/*  width: 1071px;
  height: 629px;*/
  width: 768px;
  height: 768px;  
  background: url('../img/partRight.png') 0 0 no-repeat;
  z-index: 20;
  top: 0;
  left: 0;
}
.round {
  -webkit-border-radius: 14px;
  -moz-border-radius: 14px;
  border-radius: 14px;
}
.but_back {
  position: absolute;
  display: inline-block;
  width: 147px;
  height: 147px;
/*  left: 31px;
  top: 397px;*/
  left: -39px;
  top: 470px;
  z-index: 15;
}
.but_back a {
  font: 22px/22px 'Questrial', sans-serif;
  text-transform: none;
  color: #ffffff;
  position: relative;
  display: inline-block;
  width: 100%;
  height: 100%;
  text-align: center;
}
.but_back a img {
  display: block;
  margin: 31px 0 9px 59px;
}
.but_back a span {
  position: absolute;
  top: 13px;
  left: 14px;
  width: 121px;
  height: 121px;
  background: url('../img/back_over.png') 0 0 no-repeat;
  z-index: -1;
  opacity: 0;
}
.but_back a:hover {
  text-decoration: none;
  color: #b57ef2;
}
.list_1 {
  position: relative;
  display: inline-block;
  margin: 0;
  font-size: 13px;
}
.list_1 li {
  width: 100%;
  position: relative;
  display: inline-block;
  float: left;
  background: url('../img/marker.png') 1px 5px no-repeat;
  padding: 0 0 0 19px;
  min-height: 18px;
  margin: 0 0 6px;
}
.list_1 a {
  color: #ffffff;
  text-decoration: none;
}
.link_1 {
  color: #ff4c54;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.link_1:hover {
  color: #db2533;
  text-decoration: none;
}
.block_img {
  display: block;
  margin-bottom: 30px;
}
.list_2 {
  list-style: none;
  margin: -9px 0 0;
}
.list_2 li {
  width: 190px;
  display: inline-block;
  margin: 0 16px 14px 0;
}
.list_2 .thumbnail {
  border: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  padding: 0;
}
.list_2 .thumbnail img {
  margin: 0 0 12px;
}
.list_2 .thumbnail .caption {
  font: 14px/20px "Trebuchet MS", Helvetica, Arial, sans-serif;
  font-weight: bold;
  padding: 2px 0 0 0;
  color: #ffffff;
}
.list_2 .thumbnail .caption a {
  color: #ffffff;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.list_2 .thumbnail .caption a:hover {
  text-decoration: none;
  color: #ff9a40;
}
.slider1 {
  width: 360px;
  height: 380px;
}
.slider1 ul {
  margin: 0;
}
.slider1 ul li {
  list-style: none;
}
#arrows1 {
  position: relative;
  display: block;
  margin: 15px 0 0 149px;
}
.prev1,
.next1 {
  position: relative;
  display: inline-block;
  width: 29px;
  height: 29px;
  cursor: pointer;
  z-index: 3;
}
.next1 {
  margin-left: 7px!important;
  background: url('/images/next.png') -29px 0 no-repeat;
}
.prev1 {
  background: url('/images/prev.png') 0 0 no-repeat;
}
.prev1 span {
  position: absolute;
  display: inline-block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: url('/images/prev.png') -29px 0 no-repeat;
}
.next1 span {
  position: absolute;
  display: inline-block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: url('/images/next.png') 0 0 no-repeat;
}
.slider1 .sitem_over {
  position: absolute;
  background: url("/images/pic_bg_over.png");
  z-index: 2;
  width: 360px;
  height: 333px;
  display: none;
  overflow: hidden;
  margin: 0;
  -webkit-border-radius: 9px;
  -moz-border-radius: 9px;
  border-radius: 9px;
}
.slider1 .sitem_over > strong {
  position: relative;
  background: url('/images/icon_zoom.png') center no-repeat;
  width: 100%;
  height: 100%;
  display: block;
}
.latest .sitem_over {
  position: absolute;
  background: url("/images/pic_bg_over.png");
  z-index: 2;
  width: 160px;
  height: 123px;
  display: none;
  overflow: hidden;
  margin: 0;
  -webkit-border-radius: 9px;
  -moz-border-radius: 9px;
  border-radius: 9px;
}
.latest .sitem_over > strong {
  position: relative;
  background: url('/images/icon_zoom.png') center no-repeat;
  width: 100%;
  height: 100%;
  display: block;
}
.link_2 {
  color: #ffffff;
  text-decoration: underline;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.link_2:hover {
  color: #db2533;
}
/* ============================= forms ============================= */
#form1 {
  position: relative;
  display: inline-block;
  margin: -1px 0 0;
  width: 100%;
}
label {
  margin: 0!important;
}
#form1 input {
  font: bold 14px/20px "Trebuchet MS", Helvetica, Arial, sans-serif;
  color: #ff7c4c;
  text-transform: none;
  margin: 0 0 21px;
  padding: 5px 18px 6px;
  width: 310px;
  border: 1px solid #fff;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  min-height: 20px;
  background: #ffffff;
}
#form1 textarea {
  resize: none;
  margin: 0;
  font: bold 14px/20px "Trebuchet MS", Helvetica, Arial, sans-serif;
  color: #ff7c4c;
  padding: 11px 18px 9px;
  width: 310px;
  height: 170px;
  border: 1px solid #fff;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  min-height: 20px;
  background: #ffffff;
}
#form1 label {
  position: relative;
  display: inline-block;
  min-height: 36px;
}
#form1 .error,
#form1 .empty {
  position: absolute;
  bottom: 0;
  display: none;
  font-size: 9px;
  line-height: 22px;
  color: #ffffff;
  text-transform: none;
}
.btns {
  position: relative;
  display: inline-block;
  margin: 35px 0 0;
}
.btns a {
  margin: 0 18px 0 0;
  float: right;
}
#form1 .message .error,
#form1 .message .empty {
  position: absolute;
  bottom: -19px;
  display: none;
  font-size: 9px;
  line-height: 18px;
  color: #ffffff;
  text-transform: none;
}
/* Form defaults */
input,
select,
textarea {
  color: #797a7c;
}
.success {
  font: bold 14px/20px "Trebuchet MS", Helvetica, Arial, sans-serif;
  position: absolute;
  width: 346px;
  color: #ff7c4c;
  text-align: center;
  z-index: 1;
  background: #ffffff;
  border: 1px solid #fff;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  padding: 22px 0;
  margin-top: 0;
}
/* ============================= end forms ============================= */
/* ============================= search ============================= */
#search {
  position: relative;
  display: inline-block;
  margin-top: 10px;
}
#search input[type="text"] {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
#search input[type="text"]:focus {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
#search input:focus {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
#search input {
  font-size: 13px;
  color: #ff4c54;
  width: 296px;
  padding: 8px 14px 8px 14px;
  border: 1px solid #ffffff;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  background: #ffffff;
  float: left;
  margin-right: 100px;
}
.search_result {
  color: #ff9e40;
}
.search_title {
  margin-bottom: 5px;
  font-size: 25px;
}
.search_title a {
  color: #ff9e40;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.search_title a:hover {
  color: #ffffff;
  text-decoration: none;
}
.search_list {
  margin-top: 30px;
}
.search_list .search {
  font-size: 25px;
  color: #ff9e40;
}
#searchButton {
  position: relative;
  margin: 20px 0 0;
  z-index: 10;
  float: left;
}
.btn_corr {
  padding: 13px 15px;
}
/* ============================= end search ============================= */
.info {
  position: relative;
  display: inline-block;
  margin: 48px 0 0;
  width: 250px;
  text-align: center;
}
.info .txt_1 {
  font: 90px/70px 'Playfair Display', serif;
}
.info .txt_2 {
  font: 36px/60px 'Playfair Display', serif;
}
.txt_3 {
  font: 72px/67px 'Playfair Display', serif;
  text-transform: none;
  margin: 16px 0 0;
}
/*----------------------------scroll----------------------------*/
.scroll,
.scroll_1 {
  height: 350px;
  overflow: hidden!important;
  top: 0;
  left: 0;
  display: inline-block;
}
.scroll_1 {
  height: 340px!important;
}
.scroll-btns {
  position: relative;
  top: 0px;
  z-index: 200;
  display: block;
  margin-left: 109px;
}
.btndown,
.btnup {
  display: inline-block;
  position: relative;
  width: 29px;
  height: 29px;
  float: left;
  margin-left: 7px;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
}
.btndown > span,
.btnup > span {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
}
.btndown > span {
  background: url('../img/scroll_down.png') 0 top no-repeat;
  width: 29px;
  height: 29px;
  overflow: hidden;
  -webkit-transition: all 0.25s ease;
  -moz-transition: all 0.25s ease;
  -o-transition: all 0.25s ease;
  transition: all 0.25s ease;
}
.btndown:hover > span {
  background: url('../img/scroll_down.png') 0 bottom no-repeat;
  -webkit-transition: all 0.25s ease;
  -moz-transition: all 0.25s ease;
  -o-transition: all 0.25s ease;
  transition: all 0.25s ease;
}
.btnup > span {
  background: url('../img/scroll_up.png') 0 top no-repeat;
  width: 29px;
  height: 29px;
  overflow: hidden;
  -webkit-transition: all 0.25s ease;
  -moz-transition: all 0.25s ease;
  -o-transition: all 0.25s ease;
  transition: all 0.25s ease;
}
.btnup:hover > span {
  background: url('../img/scroll_up.png') 0 bottom no-repeat;
  -webkit-transition: all 0.25s ease;
  -moz-transition: all 0.25s ease;
  -o-transition: all 0.25s ease;
  transition: all 0.25s ease;
}
/*----------------------------endscroll----------------------------*/
.dropdown-menu li ul li {
  list-style-type: square;
  color: #000;
}
/*--- content end ------*/
/*------ footer ------- */
footer {
  position: absolute;
  bottom: 30px;
  width: 100%;
  z-index: 600;
  text-align: right;
  text-transform: none;
}
footer p {
  font: 13px/1.2em Arial, Helvetica, sans-serif;
  color: #adacac;
  position: relative;
  display: inline-block;
  margin-right: 20px;
}
footer p span {
  color: #676767;
}
.social-icon {
  position: relative;
  margin: 0 0px 18px 0;
}
.social-icon > li {
  display: inline-block;
  margin-left: -1px;
}
.social-icon > li > a {
  display: inline-block;
}
.social-icon > li > a > img {
  position: relative;
  top: 0;
}
.social-icon > li > a:hover img {
  top: -5px;
}
.link_0 {
  color: #676767;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.link_0:hover {
  color: #ff5a00;
  text-decoration: none;
}
/*--- footer end ------*/
/*----- media queries ------*/
@media (min-width: 1200px) {
  
}
@media (min-width: 768px) and (max-width: 979px) {
  
}
@media (max-width: 767px) {
  
}
@media (max-width: 480px) {
  
}
/*Core variables and mixins*/
.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}
.clearfix:after {
  clear: both;
}
.hide-text {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
.input-block-level {
  display: block;
  width: 100%;
  min-height: 30px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
